
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

h1 {text-align: center;}
h3 {text-align: center;}
h5 {text-align: center;}

.container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 800px;
    max-width: 80%;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    background-color: indigo;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 10px;
    color: white;
    outline: none;
    font-size: xx-large;
}

.btn:hover {
    border-color: yellow;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}


.start-btn {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.saveScore-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
}


/* #timer{
    position: absolute;
  
}
#counter{
    
}

#progress{
    width : 300px;
    position: absolute;
    
}

#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 200px;
    width : 500px;
    position: relative;
    display: none;

